[class*="col-"] {
    height: 50px;
}

body {
    background-color: grey;
}

/* COLOR CLASSES */

.color-blk {
    background-color: black;
}

.color-wht {
    background-color: white;
}

.color-yll {
    background-color: yellow;
}

.color-yll-light {
    background-color: lightyellow;
}

.color-blu {
    background-color: blue;
}

.color-blu-light {
    background-color: lightblue;
}